<?xml version="1.0"?>
<robot name="infinity_robot">

<link name="base_link">
  <visual>
    <geometry>
      <box size="0.4 0.3 0.1"/>
    </geometry>
  </visual>
</link>

<link name="left_wheel">
  <visual>
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.05" length="0.04"/>
    </geometry>
  </visual>
</link>

<link name="right_wheel">
  <visual>
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <geometry>
      <cylinder radius="0.05" length="0.04"/>
    </geometry>
  </visual>
</link>

<link name="front_caster">
  <visual>
    <geometry>
      <sphere radius="0.04"/>
    </geometry>
  </visual>
</link>

<joint name="left_wheel_joint" type="fixed">
  <parent link="base_link"/>
  <child link="left_wheel"/>
  <origin xyz="0 0.15 -0.05" rpy="0 1.57 0"/>
</joint>

<joint name="right_wheel_joint" type="fixed">
  <parent link="base_link"/>
  <child link="right_wheel"/>
  <origin xyz="0 -0.15 -0.05" rpy="0 1.57 0"/>
</joint>

<joint name="caster_joint" type="fixed">
  <parent link="base_link"/>
  <child link="front_caster"/>
  <origin xyz="0.2 0 -0.05"/>
</joint>

</robot>
